:host {
  height: 100vh;

  display: grid;

  grid-template-rows: auto 1fr auto;
}

.avatar {
  border-radius: 50%;
}

.username {
  margin-left: 10px;
}

main {
  background-color: white;

  margin: 0 10%;
}
